
[wm-flappy] {
    height: 50vh;
    width: 90vw;
    margin: 0px;
   
}
body>h1,h2{
    font-size: 1em;
}
#resultado{
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    border: solid 5px white;
    padding: 50px;
    position: absolute;
    background-color: #e68e9a;
    color: white;
    z-index: 0;
    text-align: center;
}
h2#pontuacao{
    margin: 0px 0px 20px 0px;
}

